<p id="notice"><%= notice %></p>

<h1>Gifs</h1>



  <body>

        <% @gifs.each_slice(3) do |gif| %>
          <div class="row">
            <% @gifs.each do |gif| %>
            <div class="col-xs-4">
              <div class="img-responsive">
                <%= link_to image_tag(gif.url) %>
              </div>
              <p><%= gif.url %></p>
              
              <div class="btn-group pull-right">
                <p><%= link_to 'Edit', edit_gif_path(gif) %></p>
                <p><%= link_to 'Destroy', gif, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </div>
          </div>
        <% end %>
        </div>
       <%end %>
     </div>

</body>

<br>
