<p id="notice"><%= notice %></p>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="gif_image">
                <%= link_to image_tag(gif.url) %>
              </div>

                <p>
                  <strong>Title:</strong>
                  <%= @gif.title %>
                </p>

                <p>
                  <strong>Url:</strong>
                  <%= @gif.url %>
                </p>
                <p>Submitted by <%= gif.user.email %> at <span class="time"><%= time_ago_in_words(gif.created_at) %></span></p>
                <div class="btn-group pull-right">
                  <p><%= link_to 'Edit', edit_gif_path(gif) %></p> |
                  <p><%= link_to 'Destroy', gif, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                </div>
          </div>
        </div>
